<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error Page <%status%> </title>
</head>
<body>
<h1>SORRY</h1>

    <h1><%= message %></h1>
    <h2><%= status %></h2>
    <img src="/images/11.jpg" alt="...">

        <pre><%=stack %></pre>
</body>
</html>