<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            let sector = <%-JSON.stringify(sector)%>;
            console.log('sector:',sector);
            let sector_name = sector['sector_name'];
            let description = sector['description'];
            let stocks =  (sector['companys'] == undefined) ? [] : sector['companys'];
            let a = [];
            let avg_data =  <%-(JSON.stringify(sector_data)==undefined ) ? ['a'] : JSON.stringify(sector_data)%>;
            console.log('avg_data',avg_data);

            let avg_price = avg_data['price'];
            let avg_market_cap = avg_data['market_cap'];
            let avg_dividend_yield = avg_data['dividend_yield'];
            let y =  JSON.parse(document.cookie);

            console.log('avg_price',avg_price,' avg_price',avg_price, ' avg_market_cap',avg_market_cap,'avg_dividend_yield',avg_dividend_yield);
        </script>
        <script src="/javascripts/requests.js"></script>
        <script src="/javascripts/elements.js"></script>

        <script type="text/javascript" src="/javascripts/requests.js"></script>
        <script type="text/javascript" src="/javascripts/events_parser.js"></script>
        <script type="text/javascript" src="/javascripts/event_controller.js"></script>
        <script type="text/javascript" src="/javascripts/pages/sector_loader.js"></script>
        <p id="error"></p>
        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <title><%=sector['sector_name']%></title>
</head>

<body>


    <h1 id="sector_title"> </h1>
    <div id="sector_description" style="width:30%; padding:10px;" >

    </div>









        <table   class ='table_heads_stocks' style="margin-bottom:10px;">

        <thead >
            <tr >

                <th class ='table_heads_sector_data'>Property</th>
                <th  class ='table_heads_sector_data'  >Data</th>
            </tr>
        </thead>


        <tbody >




        </tbody>


    </table>


    <input id="sector_description_input"  type="text" placeholder="value" name="sector_description">
        <button id="add_sector_description" >Update Sector Description</button>
        <br>
            <input id="remove_stock_input"  type="text" placeholder="value" name="remove_stock_name">
                <button id="remove_stock_btn" >Remove Stock</button>
                <br>
                    <input id="add_stock_input"  type="text" placeholder="value" name="add_stock_name">
                        <button id="add_stock_btn" >Add Stock</button>
                        <br>
                        <p id="msg"></p>


                        <div id="stocks_list">

    </div>

                            <div style="padding-top:25px">
                                <div style="width:800px;">
                                    <div style="width:300px; float:left;">
                                        <button id='main' class='button' type="submit" method="GET">Go to main  page</button>







                                    </div>
                                    <div style="width:300px; float:right;">
                                        <button id='main_sectors' class='button' type="submit">Go to main sectors page</button>
                                    </div>
                                </div>
                            </div>

</body>
</html>