<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title><%=stock.name%></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



        <script type="text/javascript" src="/javascripts/elements.js"></script>

        <script type="text/javascript" src="/javascripts/requests.js"></script>
        <script type="text/javascript" src="/javascripts/events_parser.js"></script>
        <script type="text/javascript" src="/javascripts/event_controller.js"></script>
        <script type="text/javascript" src="/javascripts/pages/stock_loader.js"></script>

        <script>
            let st = <%- JSON.stringify(stock) %>
            let sector = st['sector'];
            let y =  JSON.parse(document.cookie);
            console.log(y);
        </script>

        <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>
<body>


    <table   class ='table_heads_stocks'>


    </table>


    <span >
        <header   style="width:50%;text-align:center;"  >
            <h2>Update Stock </h2><p id="error"></p>
        </header>
   <section>


   <select id ='stock_fields_select'>
       <option value="none" selected disabled hidden>Select Field </option>

   </select >

       <input id="update_stock_value"  type="text" placeholder="value" name="sector">
           <button id="update_stock_btn" >Update Stock Stock</button>
            <p id ="error"></p>

   </section>


    </span>

<div style="padding:10%;">



    <button id='main' class='button' type="submit" method="GET">Go to main  page</button>

    <button id='main_stocks' class='button' type="submit">Go to main stocks page</button>
    <button id='go_sector' class='button' type="submit">Go to sector </button>


</div>
</body>
</html>
