<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        let stocks = <%-JSON.stringify(stocks)%>;
        let sectors = <%-JSON.stringify(sectors)%>;
        let map = new Map();
        sectors.forEach(value => { map[value]=value;})
        console.log(map);
        sectors = map;

    </script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/elements.js"></script>

        <script type="text/javascript" src="/javascripts/requests.js"></script>
        <script type="text/javascript" src="/javascripts/events_parser.js"></script>
        <script type="text/javascript" src="/javascripts/event_controller.js"></script>

        <script type="text/javascript" src="/javascripts/pages/stocks_loader.js"></script>


        <meta charset="UTF-8">
    <title>Stocks Main Page</title>
</head>
<body>
    <script>







</script>
<h1>Stocks Main Page</h1>



    <span>
        <input id="insert_name" type="text" placeholder="stock name" name="name">
            <input id="insert_symbol"   type="text" placeholder="stock symbol" name="symbol">

                <select id="insertSector">
                    <option value="none" selected disabled hidden>Select Sector </option>

                </select>

                    <button id="insert_stock_btn" type="submit">Insert Stock</button>
                <p id="error"></p>
                    <br>

        <input id="remove_stock_name" type="text" placeholder="stock name" name="name">
            <button id='remove_stock_btn' onclick='remove_stock()' type="submit">Remove Stock</button>
            <span id="delete_msg_status" > </span>
            <p id="stock_delete_errr"></p>

            </span >
    <br>
    <span >





        <table class="stocks_table" style="background-color:beige;padding:10px;;height=200px;">
            <h2 style="padding-left:20%;">All Stocks</h2>

        <select id="sort_by">
            <option value="none" selected disabled hidden>Sort By </option>



        </select>
            <table>
            <thead >
                <tr  >

                    <th class ='table_heads' style="width:250px;height:50px;" >Name</th>
                    <th class ='table_heads'  >Symbol</th>
                    <th class ='table_heads'  >Sector</th>
                </tr>
            </thead>
    </table>

        <div style="overflow:auto;width:750px;height:450px;">
            <table>

                <tbody class ="stock_table_body" >


                </tbody>


            </table>

        </div>

        <div style="padding-left:20%;">
            <span >
                <button id='search_btn' class='button'  searchType='Name' type="submit">Search Stock By Name</button>
                <br>
                <input  id='search_input' type="text" placeholder="name" name="name">

                <span id="not_found" style="visibility:hidden" >Not Found</span>

            </span>

            </div>



<div style="margin-top:5%;margin-left:15%;">
    <button class='button' onclick=" function_nav_to('sectors')">Go to main sectors page</span>
    <button class='button' onclick="function_nav_to('')">Go to main  page</span>
</div>






</body>
</html>