body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

  .stocks  {
      float:left;
      margin-bottom: 5%;
  /*padding-right :10px;*/
}

.sectors  {
    float:left;
    margin-bottom: 15%;
    /*padding-right :10px;*/
}

.featured stock {

}